* {
  box-sizing: border-box;
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}
.App {
  text-align: center;
}

.search-description {
  width: 250px;
  height: 30px;
  margin: 5px;
  border-radius: 0px 10px;
  outline: none;
  background: rgb(255, 252, 252);
}
.search-amount {
  width: 250px;
  height: 30px;
  margin: 2.5px 5px 5px 5px;
  border-radius: 0px 10px;
  outline: none;
  background: rgb(253, 253, 253);
}
.search-btn {
  width: 100px;
  height: 30px;
  margin: 2.5px 5px 5px 5px;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  background-color: white;
}
.search-btn:hover {
  background-color: #7ee8fa;
  background-image: linear-gradient(315deg, #7ee8fa 0%, #80ff72 74%);

  color: black;
  font-size: bold;
}

.income {
  color: Green;
}

.expense {
  color: red;
}

.list {
  list-style: none;
}
